.footer {
    background: linear-gradient(40deg,#591d9e, #4f11a0 40%);
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    
    z-index: 100;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}